%ul
  - test_runs.each do |test_run|
    %li
      = link_to "#{test_run.project_name} - #{test_run.ran_at}", test_run
      %span.label{class: "label-#{label_color(test_run)}"}
        - if test_run.passed?
          Passed
        - else
          Failed
      